<div class="container-fluid py-5 bg-e-color">

  <div class="container rounded ">
    <div class="row">
      <div class="col-4">
        <%= image_tag "sandro-raess.webp", class: "img-fluid"%>
      </div>
      <div class="col-8">
        <p>
          <strong><%= t("about_me") %></strong>
        </p>

        <p>
          <strong>Sandro Räss</strong> ist Philosoph, Front-End-Entwickler und Veganer.
        </p>
      </div>
    </div>
  </div>
</div>
