<div class="card bg-e-color border-0">


  <div class="card-body">
    <h5 class="card-title"><%= t("about_me") %></h5>
    <p class="card-text">
      <%= t("about_me_content_html") %>
    </p>
  </div>

  <%= image_tag "sandro-raess.webp", class: "card-img-bottom", width: 300, height: 250, style: "object-fit: fill"%>

</div>
