<div class="container-fluid py-5 mt-5 bg-e-color">

  <div class="container rounded ">
    <div class="row">
      <div class="col-4">
        <%= image_tag "sandro-raess-profil", class: "img-fluid"%>
      </div>
      <div class="col-8">
        <h1><%= t("about_me") %></h1>
        <p>
          <strong>Sandro Räss</strong> ist Philosoph, Front-End-Entwickler und Veganer.
        </p>
      </div>
    </div>
  </div>
</div>
