<div class="container-fluid py-5 bg-e-color">

  <div class="container rounded ">

    <div data-controller="donation1"
      data-donation1-margin-value="{}"
      data-donation1-target="baseDiv"
    >

      <div data-donation1-target="svgField" id="svgField">
      </div>

      <div data-donation1-target="calculateHeightOf" style="visibility: hidden;">

      </div>


    </div>

  </div>
</div>
