<div class="container-fluid py-5 bg-f-color">

  <div class="container rounded ">
    <div class="row">
      <div class="col-12">
        <p>
          <strong>Tiere in Not brauchen deine Hilfe</strong>
        </p>
        <p>
          4-5 Futtersäcke
        </p>
        <p>
          Die <strong>Patenschaft</strong> ist die beste Form der Unterstützung. Ein monatlicher Beitrag hilft beim Planen und gibt Sicherheit.
        </p>
      </div>
      <div class="col-12 text-center">
        <%= image_tag "sandro-raess.webp", class: "img-fluid"%>
      </div>
    </div>
  </div>
</div>
