<%= render "layouts/navigation" %>

<div class="container py-4">
  <!--
  <h1 class="text-center my-3">Über mich</h1>
  -->
</div>
<%= render "static_pages/about_me" %>


<%= render "layouts/footer" %>
