<%= render "layouts/navigation" %>

<div class="container">
  <h1 class="text-center my-3"><%= t("contact") %></h1>
  <p class="text-center my-3">
    <%= mail_to "s.raess@me.com", "s.raess@me.com" %>
  </p>
</div>

<%= render "layouts/footer" %>
