<div class="container">
<p>
  Check if upload_work_times works
</p>

</div>

<script>

  fetch('http://localhost:3000/api/work_times')
    .then((response) => response.json())
    .then((data) => console.log(data));


    const work_time = { work_time: {content: "regen", globalWorkTimeId: "jxadfadfafdfafadsaeererererggggg", updated_at: new Date() } };

    const work_times = [
      {
        "globalWorkTimeId": "xaxaxa",
        "content": "Fallujah Number 4",
        "minutes": 25,
        "created_at": "2023-01-21T21:31:39.2000000Z",
        "updated_at": "2023-01-21T21:31:49.2000000Z"
      },
      {
        "globalWorkTimeId": "gaghahgqqqq123",
        "content": "Fallujah NUMBER 5",
        "minutes": 25,
        "created_at": "2023-01-21T21:31:39.2000000Z",
        "updated_at": "2023-01-21T21:31:49.2000000Z"
      }
    ];



        const employee = [
          {
            "first_name": "Manny",
            "last_name": "Yolo",
            "global_employee_id": "45445rrtrt",
            "created_at": "2023-01-21T21:31:39.2000000Z",
            "updated_at": "2023-01-21T21:31:49.2000000Z"
          }
        ];

fetch('http://localhost:3000/api/sync_work_times', {
  method: 'POST', // or 'PUT'
  headers: {
    'Content-Type': 'application/json',
  },
  body: JSON.stringify(work_times),
})
  .then((response) => response.json())
  .then((data) => {
    console.log('Success:', data);
  })
  .catch((error) => {
    console.error('Error:', error);
  });

  fetch('http://localhost:3000/api/sync_employees', {
    method: 'POST', // or 'PUT'
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(employee),
  })
    .then((response) => response.json())
    .then((data) => {
      console.log('Success:', data);
    })
    .catch((error) => {
      console.error('Error:', error);
    });


</script>
