<article id="<%= dom_id article %>" class="container">
  <header>
    <h1 class=""><%= article.title %></h1>
    <p class="tagline">
      <%= article.sub_title %>
    </p>
  </header>
  <hr>

  <%= raw article.content %>

</article>
