

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Books",
    "item": "https://example.com/books"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Science Fiction",
    "item": "https://example.com/books/sciencefiction"
  },{
    "@type": "ListItem",
    "position": 3,
    "name": "Award Winners"
  }]
}
</script>


<div id="articles" class="my-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
    <% articles.each do |article| %>
    <div class="col">
      <% cache article do %>
        <%= render "articles/card", article: article %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<% if policy(Article).new? %>
  <%= link_to "New article", new_article_path %>
<% end %>
