<h1>Editing veganuary item</h1>

<%= render "form", veganuary_item: @veganuary_item %>

<br>

<div>
  <%= link_to "Show this veganuary item", @veganuary_item %> |
  <%= link_to "Back to veganuary items", veganuary_items_path %>
</div>
