$white: #FFFFFF;
$dark: #343a40;
$main-colors: (
  dark-color: #343a40,
  light-color: #FFFFFF,
  soybean-color: #D7C49EFF,
  eclipse-color: #343148FF,
  a-color: #EFF5F5,
  b-color: #D6E4E5,
  c-color: #497174,
  d-color: #EB6440,
  e-color: #FFE8D2
);
