$white: #FFFFFF;
$dark: #343a40;
$main-colors: (
  dark-color: #343a40,
  light-color: #FFFFFF,
  soybean-color: #D7C49EFF,
  eclipse-color: #343148FF,
  a-color: #F7A4A4,
  b-color: #FEBE8C,
  c-color: #FFFBC1,
  d-color: #B6E2A1
);
