$white: #FFFFFF;
$dark: #343a40;
$main-colors: (
  dark-color: #343a40,
  light-color: #FFFFFF,
  green-color: #3eac7d,
  lightgreen-color: #ECFFDC,
  peach-color: #ffefd5,
  correct-color: #ECFFDC,
  wrong-color: #FFCCCB,
  a-color: #E6E5E6,
  b-color: #CECAB2,
  c-color: #AECEDF,
  d-color: #C2EEEA,
  e-color: #8CB6B2,
  f-color: #FFD8B7,
  g-color: #DCA182,
  h-color: #64ABFF,
  i-color: #83E7FF,
  j-color: #7FD1AE,
  k-color: darken(#7FD1AE, 20%)
);
